<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('partials/head.ejs') %>
</head>
<body id="background">

    <p id = "pageTitle">Celestial Body</p>
    <%- include('partials/menu.ejs') %>

    <p> Description</p>
    <p> <%= celestialBodyInfo.def %> </p>

    <%- include('partials/footer.ejs') %>

</body>
</html>