<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Author List</title>
</head>
<body>
    <h1>All Quotes</h1>
    <% for (let row of rows) {%>
        <p><%= row.quote %></p>
    <% } %>
</body>
</html>