<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Famous Quotes Home</title>
</head>
<body>
    <h1>Famous Quotes</h1>

    <form action="/allQuotes">
        <button>All Quotes</button>
    </form>

    <form action="/allInspirationalQuotes">
        <button>All Inspirational Quotes</button>
    </form>

    <form action="/lifeQuotes">
        <button>Quotes that contain the word "life"</button>
    </form>

</body>
</html>