<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Quotes that contain the word "life"</h1>
    
    <% for (let row of rows) {%>
        <p><%= row.quote %></p>
    <% } %>
    
</body>
</html>