<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Screen</title>
</head>
<body>
    <h1>Welcome <%=user.firstName%> <%=user.lastName%></h1>
    
    <%if(user.isAdmin == 1){%>
        <h3 id="hiddenMsg"> Administrator User </h3>
    <% } else { %>
        <h3 id="hiddenMsg">Normal User</h3>
    <% } %>

    <a href = "/profile"> Profile</a>
    
</body>
</html>