<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Quotes Admin</h1>
    <%- include('partials/menu.ejs') %>
    <br>

    <form action="/addAuthor">
        <button>Add Author</button>
    </form>
    <br>

    <form action="/addQuote">
        <button>Add Quote</button>
    </form>
    <br>

    <form action="/authors">
        <button>Display Authors</button>
    </form>
    <br>

    <form action="/quotes">
        <button>Display Quotes</button>
    </form>

</body>
</html>